.exam{
    position: relative;
}

.write{
   h1{
       position: absolute;
       top: 300px;
       width: 350px;
       margin-left: 180px;
   }
    p{
       position: absolute;
       top: 400px;
       width: 350px;
       margin-left: 180px;
   }
    img{
       position: absolute;
       top: 500px;
       width: 200px;
       
       margin-left: 180px;
   }
}