.header{
   h1{
       text-align: center;
   }
   p{
       align-items: center;
   }
}
.imgs{
    display: flex;
    img{
        width: 330px;
        height: 200px;
        margin-left: 50px;
    }
    h5{
        margin-left: 150px;
    }
    .finish{
        width: 300px;
        margin-left: 70px;
    }
}

